<h2>My garden</h2>
<div class="sprt-plant-card-container">
  <sprt-plant-card *ngFor="let plant of plants" [plant]="plant"></sprt-plant-card>
</div>

<!-- <h2>Wishlist</h2>
<div class="sprt-plant-card-container">
  <sprt-plant-card *ngFor="let plant of plants" [plant]="plant"></sprt-plant-card>
</div> -->

<!-- <div class="color-samples">
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
  <div class="color-sample">sample</div>
</div> -->

<!-- <form #filterForm="ngForm" (change)="onFiltersChange($event)" style="display:block">
  <input [(ngModel)]="filters.showAll" type="checkbox" name="showAll" value="all">Show all<br>
</form> -->
